extends layout

block content
    include  ./templates/header.pug
    .whitenav
        a(href='/')
            img(src='./images/zoominfo.PNG', alt='zoominfo')
        a(href='/Pricing') Pricing
        a(href='/Platform') Platform
        a(href='/Data') Our Data
        a(href='/Summit') Summit 2018
        a(href='/resources') Resources
        a(href='/about' style='font-weight:900') About
        a#orangesquare(href='/Free') Free trial
    .bluenav
        a(href='/') Careers
        a(href='/') Events
        a(href='/') Customer Success
        a(href='/') News & press
        a(href='/') Awards
        a(href='/') Leadership
        a(href='/') Overview
    img(src='./images/office.png', alt='Office', style='width:100%; margin-top: 150px;')
    .text-block
        p(style='font-size:28px;')  About Zoominfo
        p
            |For over a decade, Zoominfo has helped companies achieve their most important objective: profitable
            | growth. Backed by the world’s most comprehensive B2B database, our platform
            | puts sales and marketing professionals in position to identify, connect, and engage with
            | qualified prospects.
        br
        p#orangesquare2 Learn more
    .flex-container
            img(src='./images/dude.png', alt='dude')
            div
                p(style='color:#F17141;font-size: 120px; font-family: "Times New Roman" ; font-weight: bold;') "
                p At ZoomInfo everybody is
                br
                p constantly thinking about
                br
                p what can we do better. This is
                br
                p critical to both the success of
                br
                p our organization and our
                br
                p customers.
                br
                br
                p(style= 'font-size: 15px; font-weight: bold;font-family: "Open Sans",sans-serif;') YONATAN STERN
                br
                p(style= 'font-size: 15px;font-family: "Open Sans",sans-serif;') Founder, CEO & Chief Scientist
    .green-flex-container
        div
            h1 267M
            p
                | Business people
                br
                | & counting
            .green-flex-container-small
                img(src='./images/founded.png' alt = 'founded')
                p Founded: 2000

        div
            h1 16M
            P
                | Company profiles
                br
                | & counting
            .green-flex-container-small
                img(src='./images/Headquarters.png' alt='headquarters')
                p Headquarters: Waltham, MA

        div
            h1 59M
            p
                | Direct dials
                br
                | & counting
            .green-flex-container-small
                img(src='./images/patents.png' alt=patents)
                p Patents: Six
    .youtube-container
        iframe(width='420', height='345', src='https://www.youtube.com/embed/rlj3gH0uFi8')
        div
            img(src='./images/chatsnip.PNG', alt='chat')
            h3   Sales
            p
                |    Our sales culture is collaborative with a
                br
                |    healthy dose of competitive spirit.