.whitenav
    img(src='./images/zoominfo.PNG', alt='zoominfo')
    a(href='/Pricing') Pricing
    a(href='/Platform') Platform
    a(href='/Data') Our Data
    a(href='/Summit') Summit 2018
    a(href='/resources') resources
    a(href='/About') About
    a#orangesquare(href='/Free') Free trial