body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;

}

#quote {
    color:#F17141;
    font-size: 120px;
    font-family: "Times New Roman", Serif;
    font-weight: bold;
}

a {

  font-family: "Open sans";
  font-size: .9em;
  font-weight: 300;
  text-decoration: none;
}


.graynav {
    display: flex;
    justify-content: flex-end;
    background-color: #e8e8e8;
    padding-right: 5%;
    position: fixed;
    top: 0px;
    width: 95%;
    z-index: 2;
    height: 60px;


}

.graynav a{
    margin-left: 10px;
    padding-right: 10px;

    text-decoration: none;
    font-size: 12px;
    color: #6d6e71;
    font-weight: 600;
    text-transform: none;
}

.whitenav{
  display: flex;
  align-items: center;
    position: fixed;
    top: 30px;
    width: 98%;
    padding-right: 2%;
    z-index: 2;
    background-color: white;
}

.whitenav a {
  color: #3f7d95;
  font-size: .9em;
  font-weight: 500;
  padding: 0px 0px 0px 75px;
  font-family: "Open Sans",sans-serif;
}
.whitenav a:hover{
  color:#e60000;
}
#orangesquare{
    font-family: "Open Sans",sans-serif;
    color: white;
    background-color: #eb6936;
    border: 1px solid #eb6936;
    border-radius: 3px;
    padding: 10px 30px;
    max-width: 120px;
    margin-left: 40px;
}
#orangesquare:hover{
    filter: brightness(120%);
}
.bluenav{
  background-color: #47ace1;
    position: fixed;
    top: 95px;
    width: 95%;
    z-index: 2;
    padding-right: 5%;
    line-height: 10px;

}

.bluenav a {
  font-size: .9em;
  font-weight: 500;
  padding: 25px 30px 25px 30px ;
  font-family: "Open Sans",sans-serif;
  color: white;
  float: right;


}
.bluenav a:hover{
    background-color: #397187;
    cursor: pointer;
}

.text-block {
    position:relative;
    bottom: 200px;
    margin: auto;
    width: 60%;
    background-color: #4aace1;
    color: white;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    padding:80px;
    line-height: 1.8;
}

#orangesquare2{
    font-family: "Open Sans",sans-serif;
    color: white;
    background-color: #eb6936;
    border: 1px solid #eb6936;
    border-radius: 3px;
    padding: 10px 30px;
    max-width: 120px;
    margin: auto;
    width: 40%;
}

#orangesquare2:hover{
    filter: brightness(120%);
}

@font-face {
    font-family: 'Klinic Slab';
    src: url('/fonts/KlinicSlab-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Klinic Slab Book';
    src: url('/fonts/KlinicSlab-Book.woff2') format('woff2');,
    url('/fonts/KlinicSlab-Light.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}


.flex-container{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20px;
    flex-wrap: wrap;

}

.flex-container > div {
    padding:30px 0px;
    margin: 0px;
    min-width: 380px;
    max-width: 500px;

}
.flex-container > div > p{
    font-size: 30px;
    font-family: "Klinic Slab", slab-serif;
    color: #005a76;
    font-weight: 500;
    line-height: 0.05;
    margin-top: 0px;
}
.flex-container > img{
    max-width:700px;
    max-height:600px;
    width: auto;
    height: auto;
    min-width: 580px;


}


.text-block2 {
   position: absolute;
   top: 60px;
   right:60px;
   text-align: center;
   font-family: "Open Sans",sans-serif;
   color: black;
 }

.flex-container {
    display: flex;
    justify-content: center;
    margin-top: -170px;

    margin-bottom: -20px;
}

.flex-container > img {

    width: 40%;
}
.flex-container > div {
    width: 30%;
    weight: 500;
    text-align: center;
    font-size: 12px;
    font-family: "Klinic Slab",sans-serif;
    color: #005a76;
    align-items: center;
    padding-top: 100px;
}

.green-flex-container {
  display: flex;
  background-color: #5ac09b;
  align-items: center;

  justify-content: center;
  color: white;


}

.green-flex-container > div {
    padding: 0px 50px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.green-flex-container > div> p {
    font-size: 10px;
    padding-top: 0px;

}
.green-flex-container > div> h1 {
    font-size: 87px;
    font-weight: 100;
    margin-bottom: 0px;
    padding-bottom: 0px;

 }
.green-flex-container-small {
    display: flex;
    background-color: #5ac09b;
    align-items: center;
    justify-content: center;
    color: white;
    margin:40px 50px 40px 50px;
    padding:0px;
}

.youtube-container {
  display: flex;
  align-items: center;
  color: black;
  line-height: normal;
    margin: 100px auto;
    width: 90%;
    max-width: 1200px;
    justify-content: space-between;
}
.youtube-container > div {
  margin: 50px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  text-align:left;
  line-height: normal;
  color: #6e7071;
    max-width: 350px;
    font-size: 17px;
}
.youtube-container> div > h3{
  color: #f17141;
  font-size: 30px;
  font-weight: 300;
  text-align:left;
  margin-bottom: 0px;
  margin-top: 0px;
    font-family: "Klinic Slab Book","Opens Sans",sans-serif;

}

.youtube-container> div > img{
    height: 55px;
    width: 55px;

}

.youtube-container > iframe{
    width: 55%;
    position: relative;
    cursor: pointer;


}

#office{
    background-image: url("https://www.zoominfo.com/ge-assets/images/aboutPage/about-new-image.jpg");
    height: 1000px;
    width: 100%;
    margin-top: -450px;


}
